.bt-container {
    padding: 5px 20px 5px 20px;
    width: 95%;
    max-height: 90%;
    height: 90%;
    overflow-y: auto;
    float: left;
}

.header {
    width: 98%;
    padding: 0.5% 1%;
    float: left;
    /*background-color: #f7f7f7;*/
    border-bottom: 1px solid #e4e4e4;
}

#back {

    /*border-top: 1px solid #86a4c3;*/
    float: left;
}

.build {
    width: 100%;
    cursor: pointer;
}
.build td {
    padding: 5px 0;
    border-bottom: 1px solid #f5f5f5;
}
.art {
    /*width: 90%;*/
    /*float: left;*/
    margin: 5px 0;
    cursor: pointer;
    border-bottom: 1px solid #f5f5f5;
}
.art:hover, .build:hover {
    color: #86a4c3 !important;
}

.artifacts {
    height: 60px;
    max-height: 60px;
    overflow-y: auto;
    margin: 0 10px;
}

.statistic {
    padding: 0 10px !important;
}

